#ifndef SSID
#define SSID "WIFI_SSID"
#endif

#ifndef PASSWORD
#define PASSWORD "WIFI_PASSWORD"
#endif

#ifndef AP_SSID
#define AP_SSID "AP_SSID"
#endif

#ifndef AP_PASSWORD
#define AP_PASSWORD "AP_PASSWORD"
#endif

const char* ssid = SSID;
const char* password = PASSWORD;
const char* apSSID = AP_SSID;
const char* apPassword = AP_PASSWORD;